.appMain{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./assets/bgmobile.svg) no-repeat center;
  background-size: 100%;
  background-size: cover;
  background-color: #fafafa;
}
.appLogoMp{
  display: none;
  position: absolute;
}
.appSocialMedia{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.appSocialMedia p{
  color: #475053;
  font-size: .8rem;
}
.appSocialMedia img{
  margin: .7rem;
  width: 1.4rem;
}

@media (min-width: 768px) {
  .appMain{
    flex-direction: row;
    gap: 6rem;
    background: url(./assets/bgfull.svg) no-repeat;
    background-size: 100%;
    background-size: cover;
  }
  .appLogoMp{
    display: block;
    top: 2rem;
    right: 2rem;
    width: 16rem;
  }
}