.appMain{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: url(./assets/Vector.svg);
  background-repeat: no-repeat;
  background-position: -1ch -1ch;
  background-size: 100%;
}

@media (width >= 768px) {
  .appMain{
    flex-direction: row;
    gap: 6rem;
  }
}